// admin.scss
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'partials/admin-switchbutton';

// Remove Search Tag
.remove-tag{
  color: #e74c3c;
  font-size: 12px;
  display: inline-block;
  width: 18px;
  &:hover{
    color: darken(#e74c3c, 15%);
  }
}
.remove-tag-wrapper{
  display: inline-block;
  border-style: dashed;
  border-width: 1px;
  border-color: #e74c3c;
}

// Set icon font in layout options
#set-layout-icon{
  font-family: "icomoon", "Source Sans Pro", sans-serif;
  font-size: 0.9em;
}

// menu .flash-notice 

#menu ol .flash-notice{
  padding: 0;
}

// jquery-nestedSortable

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
}
ol.example li.placeholder:before {
  position: absolute;
}


// Admin panel 
div#footer{
  width: 23%;
  height: 100%;
	border-radius: 3px;
	right: 0;
	bottom: 0;
	position: fixed;
	padding: 20px;
	background: $content-bg;
  overflow-y: auto;
  text-align: center;
}

label{
  @include margin(0.5em 0 0.5em 0);
  font-size: 0.7em;
  text-transform: uppercase;
}

input, select{
  display: inline-block;
}


// Error flashes 
@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

// Error box & flashes

#error{
  width: 18%;
  height: 90px;
  z-index: 1;
  bottom: 0;
  right: 20;
  position: fixed;
  pointer-events: none
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

// Advanced article options

.toggle {
  display: inline-block;
  position: relative;
  top: 3px;
}

#article_options{
  display:none;
}

// Tables - admin/tags

.tables {
  
///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  width: 100%;

  th {
    text-align: left;
  }
  
//////////////////////////////////////////////////////////////////////////////////

  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 12%);
  $table-header-background: lighten($table-background, 10%);
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background: darken($table-background, 2%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  $table-padding: 0.75em 1em;

  border-collapse: separate;
  border-left: 0px;
  border-radius: $base-border-radius;
  border-spacing: 0;
  border: $table-border;

  tbody {
    background-color: $table-background;

    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-background;
      &:hover > td {
        background-color: $table-stripe-background-hover;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      border-left: 1px solid $table-border-color;
      padding: $table-padding;

      &:first-child {
        border-left: none;
      }
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;

      &:first-child {
        border-left: none;
      }

      button {
        @include button(flat, $base-accent-color);
        display: inline-block;
        line-height: $base-line-height;
        margin-bottom: 0.3em;
        margin-right: 0.5em;
        outline: none;
        padding: 0.3em 1em;
        width: 100%;

        @include media($medium-screen) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}