@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'partials/_icons';
@import 'partials/_menu';
@import 'partials/_search';
@import 'partials/_video';
@import 'partials/admin-switchbutton';



// CSS reset strips these

strong, b, strong *, b * { font-weight: bold !important; }
em, i, em *, i * { font-style: italic !important; }

body {
    margin: 0;
    background: $base-bg;
}

input, select{
  display: inline-block;
}


h1, h2, h3 { 
    color: #FF6B6B; 
    margin: 0 0 27px; 
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);}


#content{
	h1,h2,h3{
		text-align: center;
	}
}

.hidden {
	display:none;
}

.article-body{
	margin-top: 2em;
	margin-left: 0.3em;
}

.ellipsis {
    @include ellipsis(100%);
}
// Dividers

.divider{
    color: $divider-color;
    width:70%;
    margin:20px auto;
    overflow:hidden;
    text-align:center;   
    line-height:1.2em;
}

.divider:before, .divider:after{
    content:"";
    vertical-align:top;
    display:inline-block;
    width:50%;
    height:0.65em;
    border-bottom:1px solid #ccc;
    margin:0 2% 0 -55%;
}
.divider:after{
    margin:0 -55% 0 2%;
}

// Badges

.badge{
    @include badge($notice-color)
}

#tags{
    position: absolute;
    bottom: 10px;
    right: 50px;
}

#banner_src{
    text-align: center;
}