/*
Error: Invalid CSS after "	src:": expected "{", was "url('../fonts/i..."
        on line 3 of scss/partials/_icons.scss
        from line 4 of scss/style.scss

1: @font-face {
2: 	font-family: 'icomoon';
3: 	src:url('../fonts/icomoon/icomoon.eot?#iefix-n3yekb') format('embedded-opentype'),
4: 		//url('../fonts/icomoon/icomoon.woff?-n3yekb') format('woff'),
5: 		//url('../fonts/icomoon/icomoon.ttf?-n3yekb') format('truetype'),
6: 		//url('../fonts/icomoon/icomoon.svg?-n3yekb#icomoon') format('svg');
7: 	font-weight: normal;
8: 	font-style: normal;

Backtrace:
scss/partials/_icons.scss:3
scss/style.scss:4
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1167:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1101:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1096:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:641:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:210:in `directive_body'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:202:in `directive'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:650:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:299:in `to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:328:in `block in watch'
/var/lib/gems/1.9.1/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/var/lib/gems/1.9.1/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/var/lib/gems/1.9.1/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/var/lib/gems/1.9.1/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/var/lib/gems/1.9.1/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/var/lib/gems/1.9.1/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	src:\": expected \"{\", was \"url('../fonts/i...\"\A         on line 3 of scss/partials/_icons.scss\A         from line 4 of scss/style.scss\A \A 1: @font-face {\A 2: 	font-family: 'icomoon';\A 3: 	src:url('../fonts/icomoon/icomoon.eot?#iefix-n3yekb') format('embedded-opentype'),\A 4: 		//url('../fonts/icomoon/icomoon.woff?-n3yekb') format('woff'),\A 5: 		//url('../fonts/icomoon/icomoon.ttf?-n3yekb') format('truetype'),\A 6: 		//url('../fonts/icomoon/icomoon.svg?-n3yekb#icomoon') format('svg');\A 7: 	font-weight: normal;\A 8: 	font-style: normal;"; }
