<%inherit file="../base.html"/>
<%def name="path()">
## Empty at root.
</%def>
<%block name="head">
	${parent.head()}
	<link href="${path()+'public/css/style.css'}" type="text/css" rel="stylesheet"/>
	## load faction-specific stylesheet
</%block>
<%block name="content">
	<h1>Welcome to the TSW tutorials, ${character['name']}</h1>
	%for item in article.body_en:
		${item.text}
	%endfor
</%block>
<%block name='scripts'>
<script type='text/javascript' src="${path()+'public/js/menu.js'}"></script>
</%block>