## served on
<%inherit file="../base.html"/>
<%def name="path()">
../
</%def>
<%block name='head'>
${parent.head()}
<link href="${path()+'public/css/style.css'}" rel='stylesheet' type='text/css' />
##<link href="${self.path+'public/css/style.css'}" type="text/css" rel="stylesheet"/>
</%block>

<%block name='menu'>
${parent.menu()}
</%block>
## Select a language

<%block name="content">

<h1>Welcome to the admin panel</h1>
<p>Use tutorial goes here</p>
</%block>
<%block name="footer">
	<h3>Hello $admin</h3>
	<button>Logout</button>
	<%block name="language">
	<fieldset>
	<label for="language">Select lang:</label>
	    <select name="language" id="language">
	      <option value='en'>EN</option>
	      <option value='fr'>FR</option>
	      <option value='de'>DE</option>
	    <option value=None>ALL (TODO)</option>
	    </select>
	    <button id='language-submit'>View</button>
	</fieldset>

	Current lang: ${lang}

	<script type='text/javascript'>
	$( document ).ready(function() {

		//Redirect to localized template set
		$('#language-submit').click(function(event) {
			lang = $('#language').val();
			var pathname = window.location.href
			$(location).attr('href', ('setLang'+'?lang='+lang));
		});
	});
	</script>
	</%block>
	<div>
	Create new:
	<a href="${path()+'admin/new'}"><button>Article</button></a>
	</%block>
	<%block name='scripts'>
	<script type='text/javascript' src='${path()+"public/js/menu.js"}'></script>
	</div>
</%block>