## -*- coding: utf-8 -*-
<%inherit file="../base.html"/>
<%block name='head'>
${parent.head()}
<link href="/public/css/reset.css" rel='stylesheet' type='text/css' />
<link href="/public/css/style.css" rel='stylesheet' type='text/css' />
<link href="/public/css/admin.css" rel='stylesheet' />
</%block>
<div id="wrapper">
<%block name='menu'>
<div id="menu" class="accordion">
<ol class="sortable">Published

## categories sorted by SQLalchemy's order_by()
## @todo should really use a recursive algorithm to traverse each Article().articles

%for row in categories:
	 ##Top level categories
	%if row.is_category == True & row.is_public == True & (row.parent_id is None):
	<li id="${'article_'+str(row._id)}">
		<div class="sortable-wrapper accordion-header">
			<span class="icon-plus accordion-icon">
			</span>
			<a href="article?_id=${row._id}">${getattr(row, 'title_'+lang)}</a>
		</div>
		## Category roll of articles
		<ol>
			%for article in row.articles:
				##If child has children
				%if article.is_category == True:
					<li data-order="${article.order}" id="${'article_'+str(article._id)}">
						<div class="accordion-header sortable-wrapper">
							<span class="icon-plus accordion-icon"></span>
							<a href="article?_id=${article._id}">${getattr(article, 'title_'+lang)}</a>
						</div>
						## Article roll, if subcategory
						<ol>
						%for nested_article in article.articles:
							%if nested_article.is_category == True:
								<li id="${'article_'+str(nested_article._id)}">
									<div class="accordion-header sortable-wrapper">
									<span class="icon-plus accordion-icon"></span>
									<a href="article?_id=${nested_article._id}">${getattr(nested_article, 'title_'+lang)}</a>
									</div>
									<ol>
									%for sub_article in nested_article.articles:
										<li id="${'article_'+str(sub_article._id)}">
										<div class="accordion-header sortable-wrapper">
											<span class="${article.icon}"></span>
											<a href="article?_id=${sub_article._id}">${getattr(sub_article, 'title_'+lang)}</a>
										</div>
										</li>
									%endfor
									</ol>
								</li>
							%else:
								<li id="${'article_'+str(nested_article._id)}">
									<div class="accordion-header sortable-wrapper">
										<span class="${article.icon}"></span>
										<a href="article?_id=${nested_article._id}">${getattr(nested_article, 'title_'+lang)}</a>
									</div>
								</li>
							%endif
						%endfor
						</ol>
					</li>
				%else:
				<li id="${'article_'+str(article._id)}">
					<div class="sortable-wrapper">
					<span class="${article.icon}"></span>
					<a href="article?_id=${article._id}">${getattr(article, 'title_'+lang)}</a>
					</div>
				</li>
				%endif
			%endfor
		</ol>
	</li>
	%endif
%endfor
</ol>
<ol>Private
	%for row in categories:
		%if row.is_public == False:
		<li id="${row._id}" data-order="${row.order}"><a href="article?_id=${row._id}">${getattr(row, 'title_'+lang)}</a></li>
		%endif
	%endfor
</ol>
</div>
</%block>
## Select a language

<%block name="content">

<h1>Welcome to the admin panel</h1>
<p>Use tutorial goes here</p>


</%block>
</div> <!-- End #wrapper -->

<%block name="footer">
	<h3>Hello $admin</h3>
	<button>Logout</button>
	<%block name="language">
	<div class="divider">View Options</div>
	<fieldset>
	<label for="language">Select lang:</label>
	    <select name="language" id="language">
	      <option value='en'>EN</option>
	      <option value='fr'>FR</option>
	      <option value='de'>DE</option>
	    <option value=None>ALL @todo</option>
	    </select>
	    <button id='language_submit'>View</button>
	<p>	Current lang: ${lang}</p>

	</fieldset>
	</%block>
	<div>

	<a href="new?title_en=New+article"><button>New Article</button></a>
	<a href="tags"><button>All Tags</button></a>

	## Article options

	## Change layout
	<div id="edit_article">
	<div class="divider">Article Options</div>
	<div class="toggle"><input type="checkbox" value="1" checked></div>
	## Assign to parent
	<div id="article_options">

	<div class="divider">Add Section</div>
	<button id="add-body">Add Section</button>
	<label for="add-body">Sections are generated in ALL languages!<br> Each section can hold a unique template. Use sections to organize content. </label>

	<div class="divider">Is Category?</div>
	<select id="set-is_category">
		<option value="" disabled selected>Is this a category?</option>
		<option value=0>No</option>
		<option value=1>Yes</option>
	</select>
	<label for="is_category">Only categories can have children.</label>

	<div class="divider">Publish article?</div>
	<select id="set-is_public">
		<option value="" disabled selected>Publish this article?</option>
		<option value=0>No</option>
		<option value=1>Yes</option>
	</select>
	<label for="set-is_public">Only public articles appear in home menu.</label>


	<div class="divider">Template</div>
	<label for="set-layout-icon">Choose a template/layout:</label>
	<select id="set-layout-icon">
		<option disabled selected>Layout</option>
		<option data-layout="category" data-icon="icon-file-text">&#xe926; Category</option>
		<option data-layout="default" data-icon="icon-file-picture">&#xe927;Article (default) </option>
		<option data-layout="default_nobanner" data-licon="icon-file-text">&#xe926;Article (no banner) </option>
		<option data-layout="video" data-icon="icon-file-video">&#xe92a; Video</option>
	</select>

	## fill in these blocks in each layout template
	## extend templaye layouts by adding more blocks with set-layout-specific-value 
	<%block name="set_banner_src"></%block>
	<%block name="set_video_src"></%block>

	<div class="divider">Search Tags</div>
	<button id="set-search-tag-submit">Add</button> 
	<select id="set-search-tag">
		%for tag in tags:
			<option value="${tag._id}">${getattr(tag,'title_'+lang)}</option>
		%endfor
	</select>
	<label for="set-search-tag">
	<a href="tags">Take care to localize before publishing.</a></label>

	<div class="divider">LUA Tags</div>
	<button id="set-lua-tag-submit">Add</button> 
	<input id="set-lua_tag"></input>
	<label for="set-lua_tag">Associate article with LUA Tag?
	<br>Only one LUA tag can be assigned, for now.</label>
	</div>


	<div class="divider">Delete</div>
	<button id="delete-article">Delete</button>
	<%block name="error">
	<div id="error"></div>
	</%block>
	</%block>

<%block name='scripts'>
	<script type='text/javascript' src='/public/js/jquery-nestedSortable.js'></script>
	<script type='text/javascript' src='/public/js/menu.js'></script>
	<script type='text/javascript' src='/public/js/jquery.switchButton.js'></script>
	<script src="/public/js/admin.js"type='text/javascript'>
	</script>
	${parent.scripts()}
</%block>
