<%inherit file="index.html" />

<%block name='head'>
${parent.head()}
</%block>

<%block name='menu'>
${parent.menu()}
</%block>

<%block name='content'>
<form id="new_article">
	<label for="layout">Layout</label>
	<select id="layout" class="new">
		<option value="default">Default</option>
		<option value="video">Video</option>
	</select>

		<label for="is_category">Is this a category?</label>
		<select id="is_category">
		<option value="0">No</option>
		<option value="1">Yes</option>
		</select>
		##if No, assign to parent
		##if Yes, assign children
	<label for="lua_tag">LUA Tag</label>
	<input type="text" id="lua_tag">

	<label for

	<label for="public">Published?</label>
	<input type="radio" name="public" value="0">No</input>
	<input type="radio" name="public" value="1">Yes</input>
	## Populate list of siblings, then order
	<h3>English fields</h3>
	<label for="title_en">Title_en</label>
	<input type="textarea" id="title_en" placeholder="English title">
	<label for="description_en">Description_en</label>
	<input type="textarea" id="description_en" placeholder="English description">
	<label for="body_en">Body_en</label>
	<textarea id="body_en" rows="5" cols="50" placeholder="English body"></textarea>

	<h3>French fields</h3>
	<label for="title_fr">Title_fr</label>
	<input type="textarea" id="title_fr" placeholder="French title">
	<label for="description_fr">Description_fr</label>
	<input type="textarea" id="description_fr" placeholder="French description">
	<label for="body_fr">Body_fr</label>
	<textarea id="body_fr" rows="5" cols="50" placeholder="French body"></textarea>

	<h3>German fields</h3>
	<label for="title_de">Title_de</label>
	<input type="textarea" id="title_de" placeholder="German title">
	<label for="description_de">Description_de</label>
	<input type="textarea" id="description_de" placeholder="German description">
	<label for="body_de">Body_de</label>
	<textarea id="body_de" rows="5" cols="50" placeholder="German body"></textarea>

	<input type="submit" value="Submit">
<form>

<script type="text/javascript">
$(document).ready(function(){
	// Add video_src input based on layout choice
	$('#layout').change(function(){
		if($('#layout').val() == 'video'){
			$('#layout').after('<label for="video_src">Video link</label><input id="video_src" type="textarea" placeholder="Video URL">');
		}
		if($('#layout').val() != 'video'){
			$('#video_src').remove();
			$('label[for="video_src"]').remove();
		}
	});

	// Add child/parent selectors 
	$('#is_category').change(function(){
		if($('#is_category').val() == 1){
			$('#is_category').after(
				'<label for="is_subcategory">Is this a subcategory?</label><select id="is_subcategory"><option value="1">Yes</option><option value="0">No</option>');
		}
	});

	$('#submit').click(function(){

	});

});

</script>
</%block>