<%inherit file="index.html" />

<%block name='head'>
${parent.head()}
</%block>

<%block name='menu'>
${parent.menu()}
</%block>

<%block name='content'>
<form id="new_article">
	<label for="layout">Layout</label>
	<select id="layout" required>
		<option value="default">Category</option>
		<option value="video">Video</option>
		<option value="text">Text/Imgs</option>
	</select>

	<p>TODO: tagging/keywords</p>

	<label for="icon">Menu Icon</label>
	<select id="icon" required>
	<option value="icon-file-text"><span class="icon-file-text"></span></option>
	<option value="icon-file-picture"><span class="icon-file-picture"></span></option>
	<option value="icon-file-video"><span class="icon-file-video"></span></option>
	</select>

	<label for="lua_tag" placeholder="LUA tag" required>LUA Tag</label>
	<input type="text" id="lua_tag">

	<h3>English fields</h3>
	<label for="title_en">Title_en</label>
	<input type="textarea" id="title_en" placeholder="English title" required>
	<label for="description_en">Description_en</label>
	<input type="textarea" id="description_en" placeholder="English description" required>
	<label for="body_en">Body_en</label>
	<textarea id="body_en" rows="5" cols="50" placeholder="English body" required></textarea>

	<h3>French fields</h3>
	<label for="title_fr">Title_fr</label>
	<input type="textarea" id="title_fr" placeholder="French title" required>
	<label for="description_fr">Description_fr</label>
	<input type="textarea" id="description_fr" placeholder="French description" required>
	<label for="body_fr">Body_fr</label>
	<textarea id="body_fr" rows="5" cols="50" placeholder="French body" required></textarea>

	<h3>German fields</h3>
	<label for="title_de">Title_de</label>
	<input type="textarea" id="title_de" placeholder="German title" required>
	<label for="description_de">Description_de</label>
	<input type="textarea" id="description_de" placeholder="German description" required>
	<label for="body_de">Body_de</label>
	<textarea id="body_de" rows="5" cols="50" placeholder="German body" required></textarea>

	<button id="new_submit">Submit</button>
</form>

<script type="text/javascript">
$(document).ready(function(){
	// Add video_src input based on layout choice
	$('#layout').change(function(){
		if($('#layout').val() == 'video'){
			$('#layout').after('<label for="video_src">Video link</label><input id="video_src" type="textarea" placeholder="Video URL">');
		}
		if($('#layout').val() != 'video'){
			$('#video_src').remove();
			$('label[for="video_src"]').remove();
		}
	});

	// POST
	$('#new_submit').click(function(e){
		e.preventDefault();
		data = {}
		$('#new_article input, #new_article select, #new_article textarea').each(function(column){
			column_name = $(this).attr('id');
			data[column_name] = $(this).val();
		});
		$.ajax({
			type: 'POST',
			url: './api/article',
			headers: {'X-CKeditor-New' : JSON.stringify(data)},
			processData: false,
			dataType: 'json'
		});

	});

});

</script>
</%block>