## -*- coding: utf-8 -*-
<%inherit file="index.html" />

<%block name='head'>
${parent.head()}
<script src="../public/ckeditor/ckeditor.js" type="text/javascript"></script>
</%block>

<%block name='menu'>
${parent.menu()}
</%block>

<%block name='content'>
<form id="new-tag">
<h3>Create a new tag</h3>
<fieldset>
	<label for="title_en">English</label>
	<input id="title_en" placeholder="Enter English tag.." required></input>
	<label for="title_fr">French</label>
	<input id="title_fr" placeholder="Enter French tag.."></input>
	<label for="title_de">German</label>
	<input id="title_de" placeholder="Enter German tag.."></input>
	<br><button id="new-tag-submit">Submit</button>
</fieldset>
</form>
<h3>Edit an existing tag</h3>
<p>WARNING! Editing a tag will update all instances where the tag is assigned. </p><p>Deleting a tag will remove it forever. </p>
<table class="tables">
  <thead>
    <tr>
      <th>English</th>
      <th>French</th>
      <th>German</th>
      <th>Delete</th>
    </tr>
  </thead>
   <tbody>

%for tag in tags:
    <tr id="${tag._id}">
      <td contenteditable='true' data-attr="title_en">${tag.title_en}</td>
      <td contenteditable='true' data-attr="title_fr">${tag.title_fr}</td>
      <td contenteditable='true' data-attr="title_de">${tag.title_de}</td>
      <td><button class="tag-delete" data-attr="${tag._id}">Delete</button></td>
    </tr>
%endfor
</tbody>
</table>
<%block name='scripts'>
${parent.scripts()}
</%block>
</%block>