
// We're constrained by a fixed window size
$width: 780px;
$height: 580px;

#container {
	height: $height;
	width: $width;
	border: none;
	position: relative;
	overflow: hidden;
}

%borders {
  @include border-style(solid null null solid);
  @include border-width(3px null null 3px);
  @include border-color($base-border-color);
}