
// We're constrained by a fixed window size
$width: 780px;
$height: 580px;

#container {
	@include texture(180deg, lighten($light-green, 10%), lighten($dark-green, 2%), 63, 0); 
	height: $height;
	width: $width;
	border: none;
	position: relative;
	overflow: hidden;
}

%borders {
  @include border-style(solid null null solid);
  @include border-width(3px null null 3px);
  @include border-color($base-border-color);
}

#layout-container{
	height: 540px;
	position:relative;
	overflow: hidden;
}
#layout-container:after {
	@include background-image($faction-logo-background);
	background-position: center;
	background-repeat: no-repeat;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.2;
}