// _menu.scss
// jQuery UI classes - using a rolled theme will over ride these in future distros! 

// ul
.ui-autocomplete{
	width: ($menu-width - 15px);
	display: block;
}
// li
.ui-menu-item{
	width: 100%;
	display: block;
	border-bottom: $accordion-menu-border;
	background: $content-bg;
	text-indent: 10px;
	&:hover,
	&:focus,{
		background: darken($content-bg, 10%);
	}
}
// Accordion
.accordion {  
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

  color: $accordion-menu-color;
  li {
    list-style: none;
  }
  li ol li div{
  	padding: 0 20px;
  }
  li ol li ol li div{
  	 padding: 0 40px;
  }
 li ol li ol li ol li div{
  	 padding: 0 60px;
  }

  p,span {
    line-height: 20px;
    color: $accordion-menu-color;
    line-height: $base-line-height;
    padding: $accordion-menu-list-padding;

  }

  a {
    color: $accordion-menu-color;
    text-decoration: none;
    font-size: 14px;
    //font-variant: small-caps;
    font-weight: 600;
  }
  a:hover{
  	color: darken($content-bg, 15%);
  }
  
  
  background-color: $accordion-menu-background;
  border: $accordion-menu-border;
  margin-bottom: $base-spacing;

  li{

    &:last-child, ol:last-child {
      border: none;
    }

    &:focus,
    &:hover,
    &.is-expanded {
      background-color: $accordion-menu-hover;
    }

    div span{
    	margin-left: 5px;
    }
  }
  div{
  	border-bottom: $accordion-menu-border;
  }
}


/*
Menu
*/
nav#slide-menu {
	position: fixed;
	top: 0;
	left: -100px;
	bottom: 0;
	display: block;
	float: left;
	height: $height;
	width: 100%;
	max-width: $menu-width;
	overflow-y: auto;
}


body.menu-active nav#slide-menu { 
    @include transition(all 0.6s ease-in-out);
    left: 0px; 
  }
body.menu-active nav#slide-menu ol { 
  @include transition(all 0.6s ease-in-out);
	left: 0px; 
	background-color: $base-bg-a; 
}

/*
  Content
*/


div#content {
  @include transition(all 0.6s ease-in-out);
	@include padding(30px 60px 60px 60px);
	position: fixed;
	top: 0;
	left: 0;
	width: $width;
	height: $height;
	overflow-x: hidden;
	overflow-y: auto;
	background: $content-bg;
	border-radius: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-moz-box-shadow: -3px 0 6px darken(#556270, 5%);
	-webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
	box-shadow: -3px 0 6px darken(#556270, 5%);

  div.menu-bar{
    @include transition(all 0.6s ease-in-out);
    position: fixed;
    top: 535px;
    height: 46px;
    left: 0px;
    width: $width;
    background: $base-bottom-bar;
  }
	div.menu-trigger {
    @include transition(all 0.6s ease-in-out);
		position: fixed;
    top: 10px;
		left: 10px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		border-radius: 3px;
    font-size: 2em;
    color: $base-bg;
		span { 
			display: inline-block;
			width: 36px;
			height: 36px;
			text-align: center;
			line-height: 36px;
		}
    &:hover {
      color: lighten($base-bg, 20%);
    }

	}

}

body.menu-active div#content {  
 left: $menu-width; 
}
body.menu-active div#content .menu-trigger {
 left: 294px; }