<!doctype HTML>
<html lang="${lang}">
<head>
<%block name='head'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- JS -->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

## <link href='public/css/faction.css' type='stylesheet' />
</%block>
</head>
<body>
<!-- Navigation -->
<%block name='menu'>
<nav id="slide-menu">
<ul>
%for category in categories:
	<li><a href="category?category_id=${category.id}" alt="${getattr(category, 'description_'+lang)}">${getattr(category, 'title_'+lang)}</a></li>
	<ul>
	%for article in category.articles:
		##<span class="${article.icon}"></span>
		<li><a href="article?article_id=${article.id}" alt="${getattr(article, 'description_'+lang)}">${getattr(article, 'title_'+lang)}</a></li>	
	%endfor
	</ul>
%endfor
</ul>
</nav>
<script type='text/javascript'>
// GET Menu data
$( document ).ready(function() {
	$.get( '../api/category', function( data ) {
		console.log(data)
	});
});
</script>
</%block>

${self.body()}

<div id="content">
	<div class="menu-trigger"></div>
<%block name='content'>
</%block>
</div>
<%block name='scripts'>
</%block>
</body>
</html>