## -*- coding: utf-8 -*-
## index.html
<!DOCTYPE html>
<html lang='en'>
##<%include file='head.html' />
##<%include file='menu.html' />
##<%include file='footer.html' />
	<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	  <!-- CSS -->
	  ##faction stylesheets e.g. href="path/to/${faction}-style.css" 
	<link href='public/css/normalize.css' rel='stylesheet' type='text/css'>
	<link href='public/css/style.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<!-- JS -->
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="public/js/menu.js"></script>
	</head>
<body>
	<div id='container'>
		<!-- Top Menu & Sliding Menu -->
		<div id='menu-container'>
		<button type='button' class='js-menu-trigger sliding-menu-button'>
			<span class='icon-menu'></span>
		</button>
		<body>
		<form class='search-bar' role='search'>
		  <input type='search' placeholder='Enter Search' />
		  <button type='submit'>
		    <span class='icon-magnifying-glass'></span>
		  </button>
		</form>
		<button type='button' class='petition-button'>PETITION</button>
		</div>
		<nav class='js-menu sliding-menu-content'>
		<ul class='sliding-menu-outer' id='menu-accordion'>
		%for category in categories:
		  <li><a class='category-item'>${category.title_en}/</a>
		  	<ul>
		  		<li><a href='category?category_id=${category.id}' class='article-item'>
		  			<span class='icon-text-document'></span>Index</a>
			%if category.articles != []:
				<li><a href='category'
				%for article in category.articles:
				<li><a href='article?article_id=${article.id}' class='article-item'><span class='icon-text-document'></span>${article.title_en}</a></li>
				%endfor
				</ul>
			%endif
		 </li>
		%endfor
		</ul>
		</nav>

		<div id='layout-container'>
		<%include file='layout_en/${layout}.html' />

		<div class='js-menu-screen sliding-menu-fade-screen'>
		<canvas id='code-canvas'></canvas>
		</div>
		</div>
	</div>
	<!-- Faction-specific canvas animations -->
	<script src='public/js/${(character['faction']).lower()}.js'></script>
</body>
</html>