## -*- coding: utf-8 -*-
## index.html
<!DOCTYPE html>
<html lang='en'>
##<%include file="head.html" />
##<%include file="menu.html" />
##<%include file="layouts/${layout}.html" />
##<%include file="footer.html" />
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<!-- CSS -->
	##faction stylesheets e.g. href="path/to/${faction}-style.css" 
<link href='public/css/style.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- JS -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="public/js/menu.js"></script>

</head>
<body>
<div id='container'>
<button type="button" class="js-menu-trigger sliding-menu-button">
  <img src="public/img/menu-white.png" alt="Menu Icon">
</button>


<nav class='js-menu sliding-menu-content'>
<ul class='sliding-menu-outer' id='menu-accordion'>
%for category in categories:
  <li><a href='category?category_id=${category.id}' class='category'>${category.title_en}</a>
	%if category.articles != []:
		<ul>
		%for article in category.articles:
		<li><a href="article?article_id=${article.id}">$Article name: {article.title_en}</a></li>
		%endfor
		</ul>
	%endif
 </li>
%endfor
</ul>
</nav>

<div class="js-menu-screen sliding-menu-fade-screen"></div>
</div>
</body>
</html>